name: test

on:
  push:

env:
  LOG_LEVEL: debug

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    strategy:
      matrix:
        file:
          - default
          - automergePatch
          - automergeDigest
          - fixes
          - shared
          - groups
          - replacements
          - ng
    env:
      RENOVATE_CONFIG_FILE: ${{ matrix.file }}.json

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: testing ${{ matrix.file }}
        run: npx -p renovate renovate-config-validator